.root {
  margin-left: 31px;
  background-color: #5E77B8;
  width: 90%;
  height: 90%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}