
.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.textWrap {
  color: #fff;
  font-size: 24px;
}

.wind {
  margin-top: 20px;
}