.root {
  
}
.wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.imageWrap {}
.textWrap {
  color: #fff;
  font-size: 24px;
}
.temperature {

}
.wind {
  margin-top: 20px;
}